<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cabeçalho</title>
</head>
<body>
    <div class="aviso">
        <div class="comunicado">Entrega no mesmo dia e dia seguinte para Grande São Paulo!</div>
    </div>

    <div class="cabecalho">
        <div>
            <div class="acoes">
                <a href="/homeEcommerce"><img src="/img/usuario.png" alt=""></a>
                <a href="/homeEcommerce"><img src="/img/desejos.png" alt=""></a>
                <a href="/homeEcommerce"><img src="/img/sacola.png" alt=""></a>
            </div>

            <div class="logo">
                <img src="/img/" alt="" onclick="/homeEcommerce">
            </div>

            <div class="acoes">
                <a href="/homeEcommerce"><img src="/img/lupa.png" alt=""></a>
                <a href="/homeEcommerce"><img src="/img/perfil.png" alt=""></a>
                <a href="/homeEcommerce"><img src="/img/sacola.png" alt=""></a>
            </div>
        </div>

        <div>
            <div class="opcoes">
                <a href="/homeEcommerce"><buttom class="btn">INÍCIO</buttom></a>
                <a href="/homeEcommerce"><buttom class="btn">MENU</buttom></a>
                <a href="/homeEcommerce"><buttom class="btn">SOBRE</buttom></a>
                <a href="/homeEcommerce"><buttom class="btn">CONTATO</buttom></a>
            </div>
        </div>
    </div>

</body>
</html>