body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center; 
}

h1 {
    font-size: 48px; 
    color: #004d40; 
    margin-bottom: 20px; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.erro {
    color: red; 
    font-weight: bold; 
    margin-bottom: 20px;
}

form {
    background-color: #e0e0e0;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 90%;
    text-align: left;
    font-weight: bold;
    color: #004d40;
    margin: 10px 0 5px;
}

input, textarea {
    width: 90%;
    height: 40px;
    border: 2px solid #004d40;
    border-radius: 8px;
    padding: 0 15px;
    margin: 5px 0;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: #004d40;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 10px 0;
    width: 70%;
}

button:hover {
    background-color: #003d33;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 255, 255, 0.5);
}

a {
    color: #004d40;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
    color: #003d33;
}