body {
    margin: 0;
    background-color: #D8DEDC;
}

.aviso {
    background-color: #004d40;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #FFF;
}

.comunicado {
    font-size: 15px;
}

.container {
    width: 80%;
    margin: auto;
}

.listaProduto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.itemProduto {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 30%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.itemProduto:hover {
    transform: scale(1.05);
}

.itemProduto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.pagination {
    text-align: center;
    margin: 20px 0;
}
.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #007bff;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}
.pagination a:hover {
    background-color: #007bff;
    color: white;
}

/* Estilo geral para os ícones de navegação */
.iconNav {
    height: auto;
    width: 50px; /* Tamanho fixo para todos os ícones */
    margin: 0 10px; /* Espaçamento entre os ícones */
    transition: transform 0.2s, opacity 0.2s; /* Efeito de transição suave */
}

.iconNav:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone ao passar o mouse */
    opacity: 0.8; /* Reduz um pouco a opacidade para dar um efeito visual */
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Para garantir que o logout seja igual aos outros ícones */
.iconNav.logout {
    width: 50px;
}


.navbar-nav .nav-item {
    margin: 0 15px; /* Espaçamento entre os itens de navegação */
}

/* Se você quiser adicionar uma cor de fundo ao passar o mouse */
.iconNav:hover {
    background-color: #f0f0f0; /* Cor de fundo para o efeito de hover */
    border-radius: 50%; /* Para tornar o fundo arredondado */
}
.cabecalho {
    background-color: #BBC1BF;
    padding: 10px 0;
}

.navbar {
    padding: 0;
}
.navbar-toggler-icon {
    background-color: #004d40; /* Cor do ícone do menu */
}

.logoNav {
    height: auto;
    width: 100px;
}

