<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Endereço</title>
</head>
<body>
<!-- Endereços de Entrega -->
<h2>Endereços de Entrega</h2>
<div th:each="endereco, iterStat : *{enderecosEntrega}">
    <div class="form-group">
        <label th:for="*{enderecosEntrega[__${iterStat.index}__].cep}">CEP:</label>
        <input type="text" th:field="*{enderecosEntrega[__${iterStat.index}__].cep}" required />
        <div th:if="${#fields.hasErrors('enderecosEntrega[' + iterStat.index + '].cep')}" th:errors="*{enderecosEntrega[__${iterStat.index}__].cep}" class="error"></div>
    </div>
    <div class="form-group">
        <label th:for="*{enderecosEntrega[__${iterStat.index}__].logradouro}">Logradouro:</label>
        <input type="text" th:field="*{enderecosEntrega[__${iterStat.index}__].logradouro}" required />
        <div th:if="${#fields.hasErrors('enderecosEntrega[' + iterStat.index + '].logradouro')}" th:errors="*{enderecosEntrega[__${iterStat.index}__].logradouro}" class="error"></div>
    </div>
    <div class="form-group">
        <label th:for="*{enderecosEntrega[__${iterStat.index}__].numero}">Número:</label>
        <input type="text" th:field="*{enderecosEntrega[__${iterStat.index}__].numero}" required />
        <div th:if="${#fields.hasErrors('enderecosEntrega[' + iterStat.index + '].numero')}" th:errors="*{enderecosEntrega[__${iterStat.index}__].numero}" class="error"></div>
    </div>
    <div class="form-group">
        <label th:for="*{enderecosEntrega[__${iterStat.index}__].complemento}">Complemento:</label>
        <input type="text" th:field="*{enderecosEntrega[__${iterStat.index}__].complemento}" />
        <div th:if="${#fields.hasErrors('enderecosEntrega[' + iterStat.index + '].complemento')}" th:errors="*{enderecosEntrega[__${iterStat.index}__].complemento}" class="error"></div>
    </div>
    <div class="form-group">
        <label th:for="*{enderecosEntrega[__${iterStat.index}__].bairro}">Bairro:</label>
        <input type="text" th:field="*{enderecosEntrega[__${iterStat.index}__].bairro}" required />
        <div th:if="${#fields.hasErrors('enderecosEntrega[' + iterStat.index + '].bairro')}" th:errors="*{enderecosEntrega[__${iterStat.index}__].bairro}" class="error"></div>
    </div>
    <div class="form-group">
        <label th:for="*{enderecosEntrega[__${iterStat.index}__].cidade}">Cidade:</label>
        <input type="text" th:field="*{enderecosEntrega[__${iterStat.index}__].cidade}" required />
        <div th:if="${#fields.hasErrors('enderecosEntrega[' + iterStat.index + '].cidade')}" th:errors="*{enderecosEntrega[__${iterStat.index}__].cidade}" class="error"></div>
    </div>
    <div class="form-group">
        <label th:for="*{enderecosEntrega[__${iterStat.index}__].uf}">UF:</label>
        <input type="text" th:field="*{enderecosEntrega[__${iterStat.index}__].uf}" required />
        <div th:if="${#fields.hasErrors('enderecosEntrega[' + iterStat.index + '].uf')}" th:errors="*{enderecosEntrega[__${iterStat.index}__].uf}" class="error"></div>
    </div>
    <hr/>
</div>

</body>
</html>