<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Informações</title>
    <link rel="stylesheet" href="/css/alterarCliente.css">
</head>
<body>

<header>
    <h1>Alterar Informações do Cliente</h1>
</header>

<form action="/alterarCliente" method="post" th:object="${cliente}">
    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" th:field="*{nome}" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" required>
    </div>
    <div>
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" th:field="*{cpf}" required>
    </div>
    <div>
        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="date" id="dataNascimento" name="dataNascimento" th:field="*{dataNascimento}" required>
    </div>
    <div>
        <label for="genero">Gênero:</label>
        <select id="genero" name="genero" th:field="*{genero}">
            <option value="M" th:selected="${cliente.genero == 'M'}">Masculino</option>
            <option value="F" th:selected="${cliente.genero == 'F'}">Feminino</option>
            <option value="O" th:selected="${cliente.genero == 'O'}">Outro</option>
        </select>
    </div>
    <button type="submit">Salvar Alterações</button>

    <div>
        <a href="/editarEnderecoFaturamento" class="btn">Editar Endereço de Faturamento</a>
    </div>

    <div th:if="${#lists.isEmpty(enderecosEntrega)}">
        <p>Você não tem endereços de entrega cadastrados.</p>
    </div>

    <div th:each="endereco : ${enderecosEntrega}">
        <a th:href="@{/editarEnderecosEntrega/{id}(id=${endereco.idEndereco})}" class="btn">Editar Endereço de Entrega</a>
    </div>

</form>

</body>
</html>
