<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backoffice</title>
    <link rel="stylesheet" th:href="@{/css/backoffice.css}">
</head>
<body>
<div class="titulo">BACKOFFICE</div>

<nav>
    <a th:href="@{/listarProd}">Listar Produto</a>

    <a th:if="${usuarioLogado.grupo == 'admin'}"
       th:href="@{/listarUsu}">
        Listar Usuário
    </a>

    <a th:if="${usuarioLogado.grupo == 'estoquista'}" th:href="@{/listarPedidos}">Listar Pedidos</a>
</nav>
</body>
</html>
