<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/backoffice.css}">
    <title>Backoffice</title>
</head>
<body>
<div class="container">
    <div class="titulo my-4">BACKOFFICE</div>

    <nav class="nav flex-column">
        <a th:href="@{/listarProd}" class="nav-link">Listar Produto</a>
        <a th:if="${usuarioLogado.grupo == 'admin'}" th:href="@{/listarUsu}" class="nav-link">Listar Usuário</a>
        <a th:if="${usuarioLogado.grupo == 'estoquista'}" th:href="@{/listarPedidos}" class="nav-link">Listar Pedidos</a>
        <a th:if="${usuarioLogado}" th:href="@{/logout}" class="nav-link">Sair</a>
    </nav>
</div>
</body>
</html>