<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastrarProd.css">
    <title>Cadastro de Produto</title>
</head>
<body>
    <h1>Cadastro de Produto</h1>

    <div style="color: red;">
        <p th:text="${mensagem}"></p>
    </div>

    <form action="/cadastrarProd" method="post">
        <label for="nome">Nome Produto:</label>
        <input type="text" id="nome" name="nome" required><br>
    
        <label for="preco">Preço:</label>
        <input type="number" id="preco" name="preco" step="0.01" required><br>
    
        <label for="quantidade">Qtd. Estoque:</label>
        <input type="number" id="quantidade" name="quantidade" required><br>
    
        <label for="descricao">Descrição Detalhada:</label>
        <textarea id="descricao" name="descricao" required></textarea><br>
    
        <label for="avaliacao">Avaliação:</label>
        <input type="number" id="avaliacao" name="avaliacao" step="0.1" required><br>
    
        <button type="submit">Cadastrar Produto</button>

        <a href="/listarProd">Voltar à Lista de Produtos</a>
    </form>

</body>
</html>
