<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Usuário</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <div class="titulo">LOGIN</div>

    <div class="erro">
        <p th:text="${mensagem}"></p>
    </div>

    <form action="/login" method="post">
      <input type="text" name="email" placeholder="E-mail" required>
      <input type="password" name="senha" placeholder="Senha" required>
      <button type="submit">Login</button>
    </form>

</body>
</html>
