<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Resumo do Pedido</title>
</head>
<body>
<h1>Resumo do Pedido</h1>

<h2>Cliente: <span th:text="${cliente.nome}"></span></h2>

<h3>Produtos no Carrinho:</h3>
<table>
  <thead>
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Preço Unitário</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${carrinho}">
    <td th:text="${item.produto.nome}"></td>
    <td th:text="${item.quantidade}"></td>
    <td th:text="${item.produto.preco}"></td>
    <td th:text="${item.produto.preco * item.quantidade}"></td>
  </tr>
  </tbody>
</table>

<h3>Frete:</h3>
<p th:text="${frete}"></p>

<h3>Total Geral:</h3>
<p th:text="${totalGeral}"></p>

<h3>Forma de Pagamento: <span th:text="${formaPagamento}"></span></h3>

<h3>Endereço de Entrega:</h3>
<p>arrumar</p>



<form th:action="@{/finalizarCompra}" method="post">
  <button type="submit">Concluir Compra</button>
</form>


<form th:action="@{/voltar}" method="get">
  <button type="submit">Voltar</button>
</form>


</body>
</html>
