<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo do Pedido</title>
</head>
<body>

<div class="container">
    <h1>Resumo do Pedido</h1>

    <!-- Informações do Cliente -->
    <div class="cliente-info">
        <h2>Cliente</h2>
        <p><strong>Nome:</strong> <span th:text="${pedido.cliente.nome}"></span></p>
    </div>

    <!-- Informações do Pedido -->
    <div class="pedido-info">
        <h2>Informações do Pedido</h2>
        <p><strong>Data:</strong> <span th:text="${#dates.format(pedido.data, 'dd/MM/yyyy')}"></span></p> <!-- Formatação da data -->
        <p><strong>Status:</strong> <span th:text="${pedido.status}"></span></p>
        <p><strong>Forma de Pagamento:</strong> <span th:text="${formaPagamento}"></span></p>

        <!-- Mostrar os últimos 4 números do cartão -->
        <p><strong>Cartão de Crédito (últimos 4 dígitos):</strong> <span th:text="${numeroCartao}"></span></p>

        <h3>Itens do Pedido:</h3>
        <ul>
            <li th:each="item : ${pedido.itens}" th:if="${pedido.itens != null}">
                <span th:text="${item.produto.nome}"></span> -
                <span th:text="${item.quantidade}"></span> x
                <span th:text="${item.produto.preco}"></span>
                = <span th:text="${item.total}"></span>
            </li>
        </ul>


        <p><strong>Valor Total:</strong> <span th:text="${pedido.valorTotal}"></span></p>
        <p><strong>Frete Escolhido:</strong> <span th:text="${pedido.frete}"></span></p>
    </div>

    <!-- Endereço de Entrega -->
    <div class="endereco-info">
        <h2>Endereço de Entrega</h2>
        <p><strong>Endereço:</strong>
            <span th:text="${enderecoEntrega}"></span></p>
    </div>

    <br>
    <a href="/home">Voltar para a página inicial</a>
</div>

</body>
</html>
