<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo do Pedido</title>
</head>
<body>


<div class="container">
    <h1>Resumo do Pedido</h1>

    <!-- Informações do Cliente -->
    <div class="cliente-info">
        <h3>Informações do Cliente</h3>
        <p><strong>Nome:</strong> <span th:text="${pedido.cliente.nome}"></span></p>
        <p><strong>Email:</strong> <span th:text="${pedido.cliente.email}"></span></p>
    </div>

    <div class="pedido-info">
        <h3>Detalhes do Pedido</h3>
        <p><strong>ID do Pedido:</strong>
            <span th:text="${pedido?.idPedido ?: 'Não disponível'}"></span>
        </p>
        <p><strong>Data do Pedido:</strong>
        <p th:text="${pedido?.data != null ? T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy').format(pedido.data) : 'Data não definida'}"></p>

        </p>
        <p><strong>Total:</strong>
            <span th:text="${pedido?.valorTotal ?: '0.00'}"></span>
        </p>
    </div>

    <div class="endereco-info">
        <h3>Endereço de Entrega</h3>
        <p><strong>Endereço:</strong>
            <span th:text="${pedido?.enderecoEntrega?.logradouro ?: 'Endereço não definido'}"></span>
        </p>
    </div>

    <div class="pagamento-info">
        <h3>Forma de Pagamento</h3>
        <p><strong>Forma de Pagamento:</strong>
            <span th:text="${pedido?.formaPagamento ?: 'Forma de pagamento não definida'}"></span>
        </p>
        <p><strong>Cartão:</strong>
            <span th:text="${numeroCartao ?: 'Não aplicável'}"></span>
        </p>
    </div>

    <div>
        <a href="/meusPedidos">Ver meus pedidos</a>
    </div>
</div>

</body>
</html>
